body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f6f7;
}
h1.home-title {
  text-align: center;
  color: #58595B;
  padding: 30px;
  font-weight: 200;
}
a.take-pill {
  display: block;
  border: 1px solid #F5F5F5;
  background-color: #fafafa;
  text-align: center;
  padding: 30px 10px 10px;
  border-radius: 6px;
  text-decoration: none;
  color: #21ba45;
  -webkit-transition: all ease-out .1s;
  -moz-transition: all ease-out .1s;
  -o-transition: all ease-out .1s;
  transition: all ease-out .1s;
}
a.take-pill i {
  display: block;
  font-size: 8em;
}
a.take-pill span {
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 13px;
  display: block;
  font-weight: 600;
  line-height: 1.1em;
}
a.take-pill:hover {
  background-color: #21ba45;
  color: #fff;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform:    scale(1.1,1.1);
  -ms-transform:     scale(1.1,1.1);
  -o-transform:      scale(1.1,1.1);
  transform:         scale(1.1,1.1);
}
.ui.modal > .content {
  background-color: #eee;
}

.ui.card {
  /*z-index: 999;*/
  border-radius: 1px;
  /*border: 1px solid #f1f1f1;*/
  -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.ui.card.dragged {
  z-index: 999;
}
.ui.card .content a {
  color: #31797D;
}
.ui.card .content a:hover {
  border-bottom: 1px solid #31797D;
}

/* headers */
.ui.secondary.pointing.menu {
  border: none;
  border-bottom: 2px solid transparent;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#299a0b+0,299a0b+100;Green+Flat+%231 */
  background: rgb(41, 154, 11);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(41, 154, 11, 1) 0%, rgba(41, 154, 11, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(41, 154, 11, 1) 0%, rgba(41, 154, 11, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(41, 154, 11, 1) 0%, rgba(41, 154, 11, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b', GradientType=1);
  /* IE6-9 */
}
.ui.secondary.pointing.menu .item {
  color: #eee;
  /*padding: 1.2em 1.3em 1em;*/
}
.ui.secondary.pointing.menu .active.item {
  color: #fff;
  border-bottom: 2px solid #fff;
}

header .pc-logo {
  /*position: relative;
  top: 3px;
  height: 30px;
  display: inline-block;*/

  height: 45px;
}
