<template name="copiesPages">
  {{#with selectedJob}}
  <div class="ui fluid accordion">
    <div class="title active popup" title="Specify page settings and number of copies">
      <h3 class="ui dividing header">
        <i class="dropdown icon"></i>
        Copies & Pages
        <small style="font-size: 0.8em; font-weight: bold; color: #000; float: right; ">
          {{copiesPagesSelection}}
          <span style="color: #999; font-weight: 100;">($0.40 per page)</span>
        </small>

      </h3>
    </div>
    <div class="content active">
      <div class="transition scale">
        <div class="fields">
          <div class="inline field">
            <label>Copies</label>
            <input class="field-copies" type="number" value="{{settings.copiesPages.copies}}" style="width:80px;">
          </div>
          <div class="inline field" style="margin-top: 8px;">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden field-two-sided" {{twoSidedChecked}}>
              <label>Two-Sided</label>
            </div>
          </div>
        </div>

        <div class="fields">
          <div class="inline field">
            <label>Size</label>
            <select class="paper-size ui dropdown">
              {{#each paperSizes}}
              <option value="{{label}}" {{selected}}>
                <span>{{label}}</span>
                <small>({{dimensions.metric.w}} x {{dimensions.metric.h}}{{dimensions.metric.unit}})</small>
              </option>
              {{/each}}
            </select>
          </div>

          <div class="inline field">
            <label>Paper Color</label>
            <select class="paper-colour ui dropdown" name="" id="">
              {{#each paperColours}}
              <option value="{{label}}" {{selected}}>{{label}}</option>
              {{/each}}
            </select>
          </div>

          <div class="inline field">
            <label>Type</label>
            <select class="paper-type ui dropdown" name="" id="">
              {{#each paperTypes}}
              <option value="{{label}}" {{selected}}>{{label}} {{weight}}</option>
              {{/each}}
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>
