<template name="costsAccountSelection">
  <div class="ui fluid accordion">
    <div class="title active">
      <h3 class="ui dividing header">
        <i class="dropdown icon"></i> Costs & Account Selection
        <small style="font-size: 0.8em; font-weight: bold; color: #000; float: right; ">
          {{accountTypeSelection}}
        </small>

      </h3>
    </div>
    <div class="content active">
      <div class="transition scale">
        {{> accountSelection this}}
      </div>
    </div>
  </div>
</template>
