<template name="delivery">
  <div class="ui fluid accordion">
    <div class="title">
      <h3 class="ui dividing header"><i class="dropdown icon"></i> Delivery</h3>
    </div>
    <div class="content">
      <div class="transition scale">

        <div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
              <label>Pick-up</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden">
              <label>Courier Delivery</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden">
              <label>Campus Mail</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden">
              <label>Delivery address</label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
