<template name="finishing">
  <div class="ui fluid accordion">
    <div class="title">
      <h3 class="ui dividing header">
        <i class="dropdown icon"></i>
        Finishing
        <small style="font-size: 0.8em; font-weight: 100; color: #999;">— {{finishingSelection}}</small>
      </h3>
    </div>
    <div class="content">
      <div class="transition scale">
        <div class="fields">
          <div class="inline field">
            <label>Collate</label>
            <select class="collate ui dropdown">
              {{#each finishingTypes}}
              <option value="{{label}}" {{selected}}>{{label}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="image-selection fold-types" style="margin-left: 115px">
          {{#each foldTypes}}
          <a href="#" class="{{selected}}">
            <img src="{{src}}">
            <span class="caption">{{label}}</span>
          </a>
          {{/each}}
        </div>

        <div class="image-selection bind-types" style="margin-left: 115px">
          {{#each bindTypes}}
          <a href="#" class="{{selected}}">
            <img src="{{src}}">
            <span class="caption">{{label}}</span>
          </a>
          {{/each}}
        </div>

        <div class="cover-types" style="margin-top:15px;">
          <div class="fields">
            <div class="inline field">
              <label>Front Cover</label>
              <select class="front-cover ui dropdown" name="" id="">
                {{#each frontCoverColours}}
                <option value="{{label}}" {{selected}}>{{label}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="fields">
            <div class="inline field">
              <label>Back Cover</label>
              <select class="back-cover ui dropdown" name="" id="">
                {{#each backCoverColours}}
                <option value="{{label}}" {{selected}}>{{label}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
