<template name="finishing">
  <div class="ui fluid accordion">
    <div class="title">
      <h3 class="ui dividing header"><i class="dropdown icon"></i> Finishing</h3>
    </div>
    <div class="content">
      <div class="transition scale">
        <div class="fields">
          <div class="inline field">
            <label>Collate</label>
            <select class="collate ui dropdown">
              <option value="none">Don't collate</option>
              <option value="bind">Bind</option>
              <option value="drill">Drill holes</option>
              <option value="fold">Fold</option>
              <option value="staple">Staple</option>
            </select>
          </div>
        </div>

        <div class="image-selection fold-types" style="margin-left: 115px">
          <a href="#" class="fold-half active">
            <img src="/img/finishing/fold-half.png">
            <span class="caption">Half</span>
          </a>
          <a href="#" class="fold-letter">
            <img src="/img/finishing/fold-letter.png">
            <span class="caption">Letter</span>
          </a>
          <a href="#" class="fold-two">
            <img src="/img/finishing/fold-two.png">
            <span class="caption">Two</span>
          </a>
        </div>

        <div class="image-selection bind-types" style="margin-left: 115px">
          <a href="#" class="comb active">
            <img src="/img/finishing/comb.png">
            <span class="caption">Comb</span>
          </a>
          <a href="#" class="saddle-stitch">
            <img src="/img/finishing/saddle-stitch.png">
            <span class="caption">Saddle Stitch</span>
          </a>
          <a href="#" class="tape">
            <img src="/img/finishing/tape.png">
            <span class="caption">Tape</span>
          </a>
          <a href="#" class="wire">
            <img src="/img/finishing/wire.png">
            <span class="caption">Wire</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
