<template name="proofCopy">
  <div class="ui fluid accordion">
    <div class="title">
      <h3 class="ui dividing header"><i class="dropdown icon"></i> Proof Copy</h3>
    </div>
    <div class="content">
      <div class="transition scale">
        <div class="fields">
          <div class="inline field">
            <label>Proof</label>
            <select class="proof ui dropdown">
              <option value="no">No proof required</option>
              <option value="pdf">PDF</option>
              <option value="hardCopy">Hard copy</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
