<template name="proofCopy">
  <div class="ui fluid accordion">
    <div class="title">
      <h3 class="ui dividing header"><i class="dropdown icon"></i> Proof Copy</h3>
    </div>
    <div class="content">
      <div class="transition scale">

        <div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
              <label>No proof required</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden">
              <label>Email PDF Proof</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="fruit" tabindex="0" class="hidden">
              <label>Hard Copy</label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
