<template name="proofCopy">
  <div class="ui fluid accordion">
    <div class="title">
      <h3 class="ui dividing header">
        <i class="dropdown icon"></i>
        Proof Copy
        <small style="font-size: 0.8em; font-weight: bold; color: #000; float: right; ">
          Email PDF Proof
          <span style="color: #999; font-weight: 100;">(No Charge)</span>
        </small>

        <!-- {{proofCopySelection}} -->
      </h3>
    </div>
    <div class="content">
      <div class="transition scale">

        <div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="proof-copy" value="No proof required" tabindex="0" class="proof-copy">
              <label>No proof required</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="proof-copy" checked value="Email PDF Proof" tabindex="0" class="proof-copy">
              <label>Email PDF Proof</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="proof-copy" value="Hard Copy" tabindex="0" class="proof-copy">
              <label>Hard Copy</label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
