<template name="form1">
  <script type="javascript">
  </script>

  <div class="field">
    <label>Job Title</label>
    <input type="text" class="job-custom-name" placeholder="Optional">
  </div>

  <!-- <h3 class="ui dividing header">Paper</h3> -->
  <!-- <div class="ui green ribbon label" style="margin: 10px 0 20px; font-size: 1em;">Options</div> -->
  <h3 class="ui dividing header">Copies & Pages</h3>
  <div class="fields">
    <div class="inline field">
      <label>Copies</label>
      <input type="number" value="1" style="width:80px;">
    </div>
    <div class="inline field" style="margin-top: 8px;">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>Two-Sided</label>
      </div>
    </div>
  </div>

  <div class="fields">
    <div class="inline field">
      <label>Size</label>
      <select class="paper-size ui dropdown">
        {{#each paperSizes}}
          <option value="{{label}}" {{selected}}>
            <span>{{label}}</span>
            <small>({{dimensions.metric.w}} x {{dimensions.metric.h}}{{dimensions.metric.unit}})</small>
          </option>
        {{/each}}
      </select>
    </div>

    <div class="inline field">
      <label>Colour</label>
      <select class="paper-colour ui dropdown" name="" id="">
        <option value="lab1">White</option>
        <option value="lab2">Red</option>
        <option value="lab3">Blue</option>
      </select>
    </div>

    <div class="inline field">
      <label>Type</label>
      <select class="paper-type ui dropdown" name="" id="">
        <option value="normal">Normal (80 gsm)</option>
        <option value="gloss">Gloss (80 gsm)</option>
        <option value="heavy">Heavy duty (120 gsm)</option>
      </select>
    </div>

  </div>

  <!-- <div class="more-settings-fields" style="background-color: #f8ffff; color: #276f86; border: 1px solid #ddd; border-radius: 2px; padding: 15px; margin-left: -15px;">
    <div class="fields">
      <div class="inline field">
        <label>Front Cover</label>
        <select class="front-cover ui dropdown" name="" id="">
          <option value="none">None</option>
          <option value="clear">Clear</option>
          <option value="black">Black</option>
          <option value="blue">Blue</option>
        </select>
      </div>
    </div>

    <div class="fields">
      <div class="inline field">
        <label>Back Cover</label>
        <select class="back-cover ui dropdown" name="" id="">
          <option value="none">None</option>
          <option value="clear">Clear</option>
          <option value="black">Black</option>
          <option value="blue">Blue</option>
        </select>
      </div>
    </div>
  </div> -->



  <h3 class="ui dividing header">Finishing</h3>
  <!-- <div class="ui green ribbon label" style="margin: 10px 0 20px; font-size: 1em;">Finishing</div> -->
  <div class="fields">
    <div class="inline field">
      <label>Collate</label>
      <select class="collate ui dropdown">
        <option value="none">Don't collate</option>
        <option value="bind">Bind</option>
        <option value="drill">Drill holes</option>
        <option value="fold">Fold</option>
        <option value="staple">Staple</option>
      </select>
    </div>
  </div>

  <div class="image-selection fold-types" style="margin-left: 115px">
    <a href="#" class="fold-half active">
      <img src="/img/finishing/fold-half.png">
      <span class="caption">Half</span>
    </a>
    <a href="#" class="fold-letter">
      <img src="/img/finishing/fold-letter.png">
      <span class="caption">Letter</span>
    </a>
    <a href="#" class="fold-two">
      <img src="/img/finishing/fold-two.png">
      <span class="caption">Two</span>
    </a>
  </div>

  <div class="image-selection bind-types" style="margin-left: 115px">
    <a href="#" class="comb active">
      <img src="/img/finishing/comb.png">
      <span class="caption">Comb</span>
    </a>
    <a href="#" class="saddle-stitch">
      <img src="/img/finishing/saddle-stitch.png">
      <span class="caption">Saddle Stitch</span>
    </a>
    <a href="#" class="tape">
      <img src="/img/finishing/tape.png">
      <span class="caption">Tape</span>
    </a>
    <a href="#" class="wire">
      <img src="/img/finishing/wire.png">
      <span class="caption">Wire</span>
    </a>
  </div>

  <h3 class="ui dividing header">Proof Copy & Delivery</h3>
  <!-- <div class="ui green ribbon label" style="margin: 10px 0 20px; font-size: 1em;">Proof Copy & Delivery</div> -->
  <div class="fields">
    <div class="inline field">
      <label>Proof</label>
      <select class="proof ui dropdown">
        <option value="no">No proof required</option>
        <option value="pdf">PDF</option>
        <option value="hardCopy">Hard copy</option>
      </select>
    </div>
  </div>

  <div class="fields">
    <div class="inline field">
      <label>Delivery</label>
      <select class="delivery-method ui dropdown" name="" id="">
        <option value="pickup">Pick-up</option>
        <option value="courier">Courier Delivery</option>
         <!-- (Fee: $8 first case, $1 each additional case) -->
        <option value="campus">Campus Mail</option>
         <!-- (NO CHARGE - size/weight restrictions, allow 1-2 days) -->
        <option value="delivery">Delivery address</option>
        <!-- complete ONLY if different than Co -->
      </select>
    </div>
  </div>

  <h3 class="ui dividing header">Costs & Account Selection</h3>
  <!-- <div class="ui green ribbon label" style="margin: 10px 0 20px; font-size: 1em;">Costs & Account Selection</div> -->
  {{> accountSelection this}}

  <h3 class="ui dividing header">Additional Instructions</h3>
  <!-- <div class="ui green ribbon label" style="margin: 10px 0 20px; font-size: 1em;">Additional Instructions</div> -->
  <div class="field">
    <textarea class="instructions" rows="3"></textarea>
  </div>

</template>
