<template name="home">
  <div id="home" class="ui two column centered grid">
    <div class="column">
      <header class="home-title">
        <img class="pc-logo" src="/img/logotype.png" alt="PaperCut Logo" />
        <h1>print room demo</h1>
      </header>
    </div>

    <div class="row">
      <div class="users column" style="background: #fff; padding: 20px; border-radius: 6px; text-align: center;">
        <h4>users</h4>
        {{#each users}}
        <a href="/users/{{_id}}" class="lab-user">
          <img src="{{icon}}" alt="">
          <span class="name">{{names.given}}</span>
        </a>
        {{/each}}
      </div>
    </div>

    <div class="row">
      <div class="operators column" style="padding: 20px; text-align: center;">
        <h4>labs</h4>
        {{#each labs}}
        <a href="/operator/labs/{{_id}}" class="lab-op">
          <span class="name">{{name}}</span>
        </a>
        {{/each}}
      </div>
    </div>

  </div>
</template>
