<template name="home">
  <!-- TODO:
        - header
        - Redesign a better UI
        - User account selection - sign in as ....
  -->
  <div class="ui two column centered grid">
    <div class="column">
      <h1 class="home-title">I want to</h1>
    </div>

    <div class="four column centered row">
      <div class="column">
        <a class="take-pill" href="/user">
          <i class="icon-cool animated bounceIn"></i>
          <span>Print stuff</span>
        </a>
      </div>
      <div class="column">
        <a class="take-pill" href="/operator">
          <i class="icon-hipster animated bounceIn"></i>
          <span>Manage stuff</span>
        </a>
      </div>
    </div>
  </div>
</template>
