<template name="home">
  <div id="home" class="ui two column centered grid">
    <div class="column">
      <h1 class="home-title">Choose a persona</h1>
    </div>

    <div class="three column row">
      <div class="column">
        <div class="ui huge fluid vertical buttons">
          {{#each users}}
          <a href="/user/{{_id}}" class="lab-user ui olive right labeled icon button">
            <i class="send outline icon"></i> {{fullName names}}
          </a>
          {{/each}}
        </div>
      </div>

      <div class="ui vertical divider"><i class="spy icon"></i></div>

      <div class="column">
        <div class="ui huge fluid vertical buttons">
          {{#each labs}}
          <a href="/operator/{{_id}}" class="lab-op ui green right labeled icon button">
            <i class="{{icon}} icon"></i> {{name}}
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
