#home .divider i {
  font-size: 1.6em;
  position: relative;
  left: 2px;
  text-shadow: 2px 2px 0 #ccc;
  color: #999;
}
#home .vertical.buttons {
  margin: 0 10px
}
#home .button {
  text-align: left;
}
#home header .pc-logo {
}
#home .home-title {
  margin: 70px auto 0;
}
#home .home-title h1 {
  font-weight: 100;
  margin-top: 0;
  color: #888;
  position: relative;
  top: -3px;
  left: -2px;
  font-size: 18px;
  text-transform: uppercase;
}
#home a.lab-user,
#home a.lab-op {
  display: inline-block;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  -webkit-transition: all ease-out .1s;
  -moz-transition: all ease-out .1s;
  -o-transition: all ease-out .1s;
  transition: all ease-out .1s;
}
#home a.lab-op {
  width: 300px;
  height: 100px;
  background-color: #fff;
  margin: 10px;
  padding-top: 32px;
  font-size: 2.5em;
  font-size: 2em;
}
#home a:hover {
  background-color: rgba(0,0,0,0.1);
}
#home a span.name {
  display: block;
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
#home .column h4 {
  color: #000;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.4em;
}
