<template name="operatorHeader">
  <header class="ui text menu">
    <div class="ui container">
      <div class="item">
        <span class="">
          <img class="pc-logo" src="/img/logotype.png" alt="PaperCut Logo" />
        </span>
      </div>
      <div class="right menu">
        <a href="/operator/settings" class="item"><i class="settings icon"></i> Settings</a>
        <a href="#" class="item"><i class="help icon"></i> Help</a>
        <a href="/" class="item"><i class="sign out icon"></i>Logout</a>
      </div>
    </div>
  </header>
  <div class="ui secondary pointing menu">
    <div class="ui container">
      {{#each labs}}
      <a href="/operator/labs/{{_id}}" class="{{active}} lab item" data-lab-id='{{_id}}'>{{name}}</a>
      {{/each}}
      <a href="/operator/jobs" class="{{isAlJobsActive}} item">All Jobs</a>
      <div class="right menu">
        {{> addAnnouncement this}}
      </div>
    </div>
  </div>

</template>
