.jobs-kanban .ui.segment {
  border-top-width: 5px !important;
  padding: 0;
  border-radius: 0;
}
.jobs-kanban .ui.segment > .small.header {
  color: #6A6F7B;
  font-weight: light;
  padding: 15px 20px 0;
}
.jobs-kanban .ui.segment > .small.count.header {
  padding: 15px 0 0;
}
.operator-page .jobs {
   position: relative;
   left: -2px;
}

.thumbnail {
   float: left;
   height: 50px;
   margin-right: 1em;
}

.operator-page .drop-zone {
  display: none;
}
.operator-page .drop-zone.drop-active {
  display: block;
}
.operator-page .ui.card {
  cursor: move;
  margin: 2px;
  border: 0;
  box-shadow: none;
  background-color: #F1F1F1;
}
.operator-page .ui.card > .content {
  padding: 0;
}
.operator-page .jobNames {
  padding: 1em;
}
.operator-page .ui.card > .extra.content {
  padding: 0.7em;
  font-size: 12px;
}

.incoming-jobs,
.accepted-jobs,
.rejected-jobs {
  min-height: 50px;
}
.rejected-jobs {
  -webkit-transition: all ease-out .1s;
    -moz-transition: all ease-out .1s;
    -o-transition: all ease-out .1s;
    transition: all ease-out .1s;
}
.incoming-jobs .drop-zone span,
.incoming-jobs .drop-zone i {
  color: rgba(34,36,38,1);
}
.incoming-jobs .drop-zone.drop-active {
  background-color: rgba(34,36,38,.1);
}
.incoming-jobs .drop-zone.drop-target {
  background-color: rgba(34,36,38,.5);
}

.rejected-jobs .drop-zone span,
.rejected-jobs .drop-zone i {
  color: rgba(219,40,40,1);
}
.rejected-jobs .drop-zone.drop-active {
  background-color: rgba(219,40,40,.1);
}
.rejected-jobs .drop-zone.drop-target {
  background-color: rgba(219,40,40,.5);
}

.accepted-jobs .drop-zone span,
.accepted-jobs .drop-zone i {
  color: rgba(33,133,208,1);
}
.accepted-jobs .drop-zone.drop-active {
  background-color: rgba(33,133,208,.1);
}
.accepted-jobs .drop-zone.drop-target {
  background-color: rgba(33,133,208,.5);
}

.done-jobs .drop-zone span,
.done-jobs .drop-zone i {
  color: rgba(33,186,69,1);
}
.done-jobs .drop-zone.drop-active {
  background-color: rgba(33,186,69,.1);
}
.done-jobs .drop-zone.drop-target {
  background-color: rgba(33,186,69,.5);
}

.incoming-jobs.drop-active .card,
.rejected-jobs.drop-active .card,
.accepted-jobs.drop-active .card,
.done-jobs.drop-active .card {
  display: none;
}
