<template name="form3D">
  <form action="#" class="new-3d-submission ui form segment" style="margin: 0; border-radius: 0; width: 100%">
    <span class="ui green ribbon label" style="margin-bottom: 10px;">Job Settings</span>
    <div class="field">
      <label>Job name</label>
      <input type="text" class="job-custom-name" placeholder="Optional job name">
    </div>

    <div class="fields">
      <div class="three wide field">
        <label>Color</label>
        <input type='text' id="colorpicker" />
      </div>

      <div class="thirteen wide field">
        <label>Required by</label>
        <input type="text" id="datepicker">
      </div>
    </div>


    <div class="ui divider"></div>
    <span class="ui green ribbon label" style="margin-bottom: 10px;">Costs & Account Selection</span>

    <div class="fields">
      <div class="four wide field">
        <label>Estimated</label>
        <div class="ui big label">$5.20</div>
      </div>

      <div class="twelve wide field">

        <div class="account-charge field" style="margin-bottom: 10px;">
          <label>Charge to</label>
          <div class="ui dropdown labeled search icon green basic button">
            <i class="fa fa-folder-o icon"></i>
            <input type="hidden" name="account" value="personal">
            <!-- <i class="dropdown icon"></i> -->
            <div class="text"></div>
            <div class="menu">
              <div class="item" data-value="personal">Personal Account</div>
              <div class="item" data-value="shared">Shared Account</div>
              <div class="item" data-value="code">Account with PIN / Code</div>
            </div>
          </div>
        </div>

        <div class="account-selection field">
          <label>Account</label>
          <div class="ui search selection dropdown" style="">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Choose department</div>
            <div class="menu">
              <div class="item" data-value="1">Biology Science</div>
              <div class="item" data-value="2">Business</div>
              <div class="item" data-value="3">Communications & Arts</div>
              <div class="item" data-value="4">Computing & Security</div>
              <div class="item" data-value="5">Engineering & Technology</div>
              <div class="item" data-value="6">Exercise & Health Sciences</div>
              <div class="item" data-value="7">Medical Sciences</div>
              <div class="item" data-value="8">Nursing & Midwifery</div>
              <div class="item" data-value="9">Performing Arts</div>
              <div class="item" data-value="10">Psychology Science</div>
              <div class="item" data-value="11">Teacher Education</div>
            </div>
          </div>
        </div>

        <div class="code field">
          <label>PIN / Code</label>
          <input type="number" style="width: 100px;">
        </div>

      </div>
    </div>

    <div class="ui divider"></div>

    <div class="" style="text-align: right">
      <button type="button" class="ui cancel button">Cancel</button>
      <button type="submit" class="ui green right labeled icon button">
        Submit
        <i class="upload cloud icon"></i>
      </button>
    </div>

  </form>
</template>
