<template name="lab">
  {{> operatorHeader menuItem='Print Room Kanban'}}

  <div class="ui container lab-page" style="position: relative">
    <h3 class="ui center aligned header" style="padding: 20px 0; border-bottom: 1px solid #fff;">{{labName}}</h3>
    {{> addAnnouncement this}}
    {{#if noJobs}}
    <h2 class="ui header">
      No Jobs — put something fun here.
    </h2>
    {{else}}
    <div class="ui stackable padded grid jobs-kanban">
      <!-- <div class="one column center aligned row">
        <div class="column">
          <div class="ui dropdown item">
            All Jobs
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Submitted</div>
              <div class="item">Accepted</div>
              <div class="item">Done</div>
              <div class="item">Rejected</div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="three column row">
        <div class="column">
          {{> submittedJobs}}
        </div>

        <div class="column">
          {{> acceptedJobs}}
        </div>

        <div class="column">
          {{> doneJobs}}
          {{> rejectedJobs}}
        </div>
      </div>
    </div>
    {{/if}}

  </div>

  {{> jobModals}}
  {{> footer}}
</template>
