<template name="userAnnouncements">

  <div class="ui feed" style="padding: 20px; margin: 0;">
    {{#with latestAnnouncement}}
    <div class="event animated fadeIn">
      <div class="label">
        <i class="newspaper icon" style="position: relative; top: 4px; color: #777;"></i>
      </div>
      <div class="content">
        <div class="date">
          {{fromNow time}}
        </div>
        <div class="summary">
          {{message}}
        </div>
        <div class="meta">
          {{#if notLastAnnouncement}}
          <a class="#">
            <i class="arrow left icon"></i> back
          </a>
          {{/if}}
          {{#if notFirstAnnouncement}}
          <a class="#">
            <i class="arrow right icon"></i> next
          </a>
          {{/if}}
        </div>

      </div>
    </div>
    {{/with}}
  </div>
</template>
