<template name="userAnnouncements">
  <div class="ui feed">

    <div class="event">
      <div class="label">
        <i class="newspaper icon" style="position: relative; top: 4px; color: #777;"></i>
      </div>
      <div class="content">
        <div class="summary">
          The 3D Print Lab will be closed from Dec 15 to Jan 20.
          <div class="date">
            1 hour ago
          </div>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="label">
        <i class="newspaper icon" style="position: relative; top: 4px; color: #777;"></i>
      </div>
      <div class="content">
        <div class="summary">
          We have run out of green PLA. They will be restocked tomorrow.
          <div class="date">
            2 hours ago
          </div>
        </div>
      </div>
    </div>

    <div class="event">
      <div class="label">
        <i class="newspaper icon" style="position: relative; top: 4px; color: #777;"></i>
      </div>
      <div class="content">
        <div class="summary">
          All jobs sent after 5pm today will not be available until the following week.
          <div class="date">
            2 hours ago
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
