<template name="preview3D">
  <div class="ui fluid card">
    <div class="content">
      <span class="ui right corner label" style="border-color: #F23C55; color: #fff;"><i class="cube icon"></i></span>
      <div class="header">{{filename}}</div>
      <div class="meta">{{filesize}}</div>
      <!-- <span>Drag mouse to rotate</span><br>
      <span>Drag mouse with shift pressed to zoom</span> -->
    </div>
    <div class="image">
      <canvas class="preview-3d" height="400"></canvas>
    </div>
  </div>
</template>
