
.ui.form .inline.field > label {
  width: 100px;
}

.user-page .drop-zone {
  background-color: rgba(33,186,69,.1);
}
.user-page .drop-zone span,
.user-page .drop-zone i {
  color: rgba(33,186,69,1);
}
.user-page .drop-zone.drop-target {
  background-color: rgba(33,186,69,.3);
  -webkit-transform: scale(1.05,1.05);
  -moz-transform:    scale(1.05,1.05);
  -ms-transform:     scale(1.05,1.05);
  -o-transform:      scale(1.05,1.05);
  transform:         scale(1.05,1.05);
}
