.preview .icon {
  position: relative;
  margin-top: 80px;
  left: 33%;
  font-size: 6em;
  color: #fff;
  text-shadow: -8px 7px 0 #ddd;
}
.ui.form .inline.field > label {
  width: 100px;
}

/*colour picker*/
.sp-container {
  border: none;
}
.sp-replacer {
  border: none;
  margin: 1px;
  padding: 8px;
  color: #888
}
.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner {
  background-image: url(/img/tick_white.png);
}
.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner {
  background-image: url(/img/tick_black.png);
}

.user-page .drop-zone {
  background-color: rgba(33,186,69,.1);
}
.user-page .drop-zone span,
.user-page .drop-zone i {
  color: rgba(33,186,69,1);
}
.user-page .drop-zone.drop-target {
  background-color: rgba(33,186,69,.3);
  -webkit-transform: scale(1.05,1.05);
  -moz-transform:    scale(1.05,1.05);
  -ms-transform:     scale(1.05,1.05);
  -o-transform:      scale(1.05,1.05);
  transform:         scale(1.05,1.05);
}
