<template name="jobPreview">
  {{> userHeader}}
  <div class="ui container user-page">
    <div class="ui stackable padded grid">

      <div class="three wide column">
        {{> userMenu}}
      </div>

      <div class="thirteen wide column" style="padding: 0; position: relative; top: -43px;">
        <div>
          <div style="color: #333; text-shadow: 1px 1px 1px #ccc; float: right">
            {{fullName names}} ({{userid}})
          </div>
          <div style="position: relative; font-weight: bold; font-size: 1.5em;">
            {{labName}}
          </div>
        </div>
        {{#with selectedJob}}
        <div class="ui segment" style="box-shadow: none; background-color: #f2f6f7;">
          <!-- <h2 class="ui header" style="color: #6A6F7B; margin: 10px;">
            Confirm Print Job Settings
          </h2> -->
          <div class="upload-steps ui equal width center aligned padded grid">
            <div class="five wide column">
              <div class="step">
                1. Upload
              </div>
            </div>
            <div class="five wide column">
              <div class="step">
                2. Enter Job Details
              </div>
            </div>
            <div class="five wide column">
              <div class="step active">
                3. Confirm and Submit
              </div>
            </div>
          </div>
          <div class="ui segment" style="box-shadow: none; border: none; border-radius: 0; margin-top: 0;">
            <div class="ui grid">
              <div class="six wide column">
                {{#if threeD}}
                {{> preview3D}}
                {{else}}
                <iframe src="{{docPreviewUrl}}" style='border: 1px solid #ccc; width: 100%; height: 300px;'></iframe>
                {{/if}}
              </div>

              <div class="ten wide column">
                <div class="ui relaxed divided list">
                  <div class="item"><strong class="preview-label">Job title</strong> {{customName}}</div>
                  <div class="item"><strong class="preview-label">Filename</strong> {{filename}}</div>
                  {{#if threeD}}

                  {{else}}
                  <div class="item"><strong class="preview-label">Copies & Pages</strong> {{copiesPagesSelection}}</div>
                  <div class="item"><strong class="preview-label">Finishing</strong> {{finishingSelection}}</div>
                  <div class="item"><strong class="preview-label">Proof Copy</strong> {{settings.proofCopy}}</div>
                  {{/if}}
                  <div class="item"><strong class="preview-label">Delivery</strong> {{deliverySelection}}</div>
                  <div class="item"><strong class="preview-label">Account</strong> {{accountTypeSelection}}</div>
                  <div class="item"><strong class="preview-label">Instructions</strong> {{settings.additionalInstructions}}</div>
                </div>
              </div>
            </div>

          </div>

          <div class="" style="margin: 20 0 10px;">
            <div style="float: right">
              <button type="button" class="ui back icon button">
                <i class="left angle arrow icon"></i>
                Edit Job Settings
              </button>
              <button type="button" class="ui green right icon submit-job button">
                Submit
                <i class="upload cloud icon"></i>
              </button>
            </div>
            <button type="button" class="ui basic cancel button">Cancel</button>
          </div>

        </div>
        {{/with}}
      </div>
    </div>

  </div>
</template>
