<template name="jobSubmission">
  {{> userHeader}}
  <div class="ui container user-page">
    <div class="ui stackable padded grid">

      <div class="three wide column">
        {{> userMenu}}
      </div>

      <div class="thirteen wide column" style="padding: 0;">
        <div class="ui segment" style="box-shadow: none; background-color: #f2f6f7; ">
          <h2 class="ui header" style="color: #6A6F7B; margin: 10px;">
            Print Job Details
          </h2>
          <form action="#" class="new-submission ui form" style="margin: 0; width: 100%">
            <div class="ui segment" style="box-shadow: none; border: none; border-radius: 0;">
              <div class="ui grid">
                {{#if threeD}}
                <div class="four wide column preview">
                  {{> preview3D}}
                </div>
                <div class="twelve wide column">
                  {{> form3D}}
                  <h3 class="ui dividing header">Costs & Account Selection</h3>
                  {{> accountSelection}}
                </div>
                {{else}}
                <div class="sixteen wide column">
                  <div class="fields" style="padding: 0;">

                    <div class="sixteen wide column">
                      {{#if image}}
                      <img src="{{docPreviewUrl}}" style='width: 150px; height: 150px; float: left; margin-right: 20px; margin-bottom: 20px;'>
                      {{/if}}
                      {{#if pdf}}
                      <iframe src="{{docPreviewUrl}}" style='border: 0; width: 150px; height: 150px; float: left; margin-right: 20px; margin-bottom: 20px;'></iframe>
                      {{/if}}

                      <div class="field">
                        <label>Job Title</label>
                        <input type="text" class="job-custom-name" placeholder="Optional" style="width: 100%;">
                      </div>
                    </div>
                    <div class="eight wide column">
                      <div class="field">
                        <label for="">Filename</label>
                        <div>{{filename}}</div>
                      </div>
                    </div>
                    <div class="eight wide column">
                      <div class="field">
                        <label for="">Pages</label>
                        <div>20</div>
                      </div>
                    </div>
                  </div>
                  {{> form1}}
                </div>
                {{/if}}
              </div>
            </div>

            <div class="" style="text-align: right; margin: 30px 0 20px;">
              {{#if overFilesizeLimit}}
              <div class="inline field">
                <div class="ui checkbox">
                  <input type="checkbox" id="confirm-approval">
                  <label for="confirm-approval">I have approval from my supervior to print this file.</label>
                </div>
              </div>
              {{/if}}
              <button type="button" class="ui cancel button">Cancel</button>
              <button type="submit" class="ui green right labeled icon button">
                Submit
                <i class="upload cloud icon"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>
