<template name="jobs">

  <!-- <table class="ui selectable stackable padded table">
    <tbody class="pending-jobs">
      {{#each pendingJobs}}
      <tr class="job-row">
        <td class="collapsing">
          <i class="cube icon"></i> {{filename files}}
        </td>
        <td>{{jobStatusUser status}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table> -->

  <!-- <div style="float: right; margin-right: 18px; margin-top: 20px;">
    <div class="ui icon small buttons">
      <button class="ui basic teal button"><i class="block layout icon"></i></button>
      <button class="ui active teal button"><i class="list layout icon"></i></button>
    </div>
    <button class="ui basic teal small button">Archive <strong>Done</strong> and <strong>Rejected</strong></button>
  </div> -->

  <div class="ui small header" style="margin-bottom: 0; color: #6A6F7B; margin-left: 20px">
    {{#if hasJobs}} YOUR PRINT JOBS {{else}} NO RECENT JOBS {{/if}}
  </div>


  <!-- <div class="ui four cards">
    <div class="card">

    </div>
  </div> -->

  <!-- <div class="animated fadeInDown" style="margin: 20px;">
    <table class="ui single line selectable compact table jobs-table">
      <thead>
        <tr>
          <th>Date submitted</th>
          <th>Current status</th>
          <th>Job details</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
      {{#each jobs}}
        <tr class="{{statusClass latestLog.status}} job-row">
          <td><span>{{fromNow submitted}}</span></td>
          <td>{{jobStatusUser latestLog.status}}</td>
          <td>
            {{#if customName}}
            <strong>{{customName}}</strong> —{{/if}}
            <small style="position: relative; top: -2px;">{{filename files}}</small>
          </td>

          <td>$5.20</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div> -->

  <div class="ui link items jobs">
    {{#each jobs}}
    <div class="item" data-id="{{_id}}">
      <div class="content">
        <div class="ui padded grid description">
          <div class="three wide column {{status}}">
            {{jobStatusUser latestLog.status}}
          </div>
          <div class="three wide column" style="padding: 0;">
            <div class="thumbnail" style="float: left; margin-right: 5px;">
              {{> thumbnail3D}}
            </div>
            <span class="" style="font-weight: 100; position: relative; top: 6px; font-size: 1.1em;">
              #{{jobNum}}
            </span>
          </div>
          <div class="four wide column" style="padding: 0; font-size: 0.9em; padding-top: 5px;">
            {{#if customName}}
            <strong>{{customName}}</strong> {{/if}}
            <br>
            <small style="position: relative; top: -2px;">{{filename files}}</small>
          </div>
          <div class="three wide column" style="padding: 0; font-size: 0.9em; padding-top: 5px;">

          </div>
          <div class="three wide column">
            ...
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</template>
