.job-link-label {
   color: #fff !important;
   cursor: pointer;
   opacity: 0.75;
   -webkit-transition: all ease-out 5s;
   -moz-transition: all ease-out 5s;
   -o-transition: all ease-out 5s;
   transition: all ease-out 5s;
}
.job-link-label:hover {
  opacity: 1;
}

.job-num-label {
  font-weight: bold;
  width: 63px;
  display: inline-block;
  margin-top: 3px;
}
.job-update-fields {
  border-radius: 0 3px 0 0;
  background-color: #eee;
  border-left: 1px solid #ccc;
  position: relative;
  top: -7px;
  margin-bottom: -14px;
  left: 7px;
}
