<template name="jobCard">
  <div class="content">
    <!-- <span class="ui right corner label job-link-label" title="Detail" style="border-color: {{user.colour}};">
      <i class="unhide icon"></i>
    </span> -->

    <!-- border-left: 5px solid {{user.colour}}; -->
    <div class="ui padded grid job-card" style="">
      <!-- <div class="sixteen wide column" style="padding: 2px 10px; background-color: {{user.colour}}; color: #fff; font-size: 0.9em;">

      </div> -->
      <div class="sixteen wide column" style="padding: 5px;">
        {{#if threeD}}
        <span class="thumbnail" style="float: left; margin-right: 5px;">
          {{> thumbnail3D}}
        </span>
        {{/if}}
        <div>
          <span style="font-weight: bold; width: 63px; display: inline-block; font-size: 14px; color: {{user.colour}}; border-top: 5px solid {{user.colour}}; margin-top: 0px;">#{{jobNum}}</span>
          <span class="ui {{stale}} basic horizontal tiny label" style="float: right; margin-right: 0; opacity: 0.75; border: 0;">{{fromNow submitted}}</span>
        </div>

        <!-- <a href="{{downloadLink}}" title="Download">
          <small style="font-weight: bold;">
            <i class="download icon"></i>
            {{#if customName}}
              {{customName}}
            {{else}}
              {{filename files}}
            {{/if}}
          </small>
        </a> -->
        <small style="font-weight: bold;">
          {{#if customName}}
            {{customName}}
          {{else}}
            {{filename files}}
          {{/if}}
        </small>
        <br>
        <small style="position: relative; top: -3px;">
          <!-- <i class="user icon"></i> -->
          <strong>{{user.names.userid}}</strong> ({{fullName user.names}})
        </small>
        {{#if not3D}}
        <br>
        <small>{{finishingSelection}}</small>
        {{/if}}

      </div>

    </div>
  </div>
</template>
