<template name="jobCard">
  <div class="content" style="padding: 0.5em 1em;">
    <span class="" style="font-weight: bold; margin-right: 40px;">
      #{{jobNum}}
      {{#if customName}}
      <strong>— {{customName}}</strong>
      {{/if}}
    </span>

  </div>
  <div class="content">
    <span class="ui right corner label" style="border-color: {{user.colour}}; color: #fff;"><i class="cube icon"></i></span>
    <div class="description">
      <div class="thumbnail">
        {{> thumbnail3D}}
      </div>

      <div class="jobNames">
        <a href="{{downloadLink files}}" style="color: #31797D; font-size: 0.9em;">
          <i class="download icon" style="position: relative; top: 2px;"></i>
          {{filename files}}
        </a>
        <br>
        <small>{{filesize files}}</small>
      </div>
    </div>
  </div>
  <div class="extra content">
    <span class="" style="">
      <i class="user icon"></i>{{fullName user.names}}
    </span>
    <span class="right floated">{{fromNow submitted}}</span>
  </div>
</template>
