.job-link-label {
   color: #fff !important;
   cursor: pointer;
   opacity: 0.75;
   -webkit-transition: all ease-out 5s;
   -moz-transition: all ease-out 5s;
   -o-transition: all ease-out 5s;
   transition: all ease-out 5s;
}
.job-link-label:hover {
  opacity: 1;
}
