<template name="jobCard">
  <div class="content">
    <!-- <span class="ui right corner label job-link-label" title="Detail" style="border-color: {{user.colour}};">
      <i class="unhide icon"></i>
    </span> -->
    <div class="ui padded grid description" style="border-bottom: 1px solid #ccc;">
      <div class="sixteen wide column" style="padding: 2px 10px; background-color: {{user.colour}}; color: #fff; font-size: 0.9em;">
        #{{jobNum}}
      </div>
      <div class="sixteen wide column" style="padding: 5px;">
        <span class="thumbnail" style="float: left; margin-right: 5px;">
          {{> thumbnail3D}}
        </span>
        {{#if customName}}
        <strong>{{customName}}</strong>
        {{/if}}
        <br>
        <!-- <small style="position: relative; top: -2px;">{{filename files}}</small> -->
        <small style="position: relative; top: -3px;">{{fullName user.names}}</small>
        <span style="font-size: 0.8em; position: absolute; top: 5px; right: 5px;">{{fromNow submitted}}</span>
      </div>

    </div>
  </div>
</template>
