<template name="test3d">
  <div style="width:420px; margin:auto; position:relative; font-size:9pt; color:#777777;">
    <canvas id="cv" style="border: 1px solid;" width="420" height="560" ></canvas>
    <div id="tip" style="display:block; color:#ffffff; position:absolute; left:10px; top:508px; background-color:#000000; height:32px; width:250px; border-radius:5px; border:1px solid #777777; opacity:0.5; font:1em/1.4 Cambria,Arial,sans-serif; padding:6px; pointer-events:none;">
      Drag mouse to rotate <br> Drag mouse with shift pressed to zoom
    </div>
  </div>
</template>
