.image-selection a {
  display: inline-block;;
  margin-right: 10px;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(0,0,0,.3);
}
.image-selection a:hover{
  box-shadow: 0 0 2px rgba(0,0,0,.9);
}
.image-selection a.active {
  /*box-shadow: 0 0 2px rgba(0,0,0,1);*/
  border: 1px solid #333;
  color: #000;
}
.image-selection a.active .caption {
  color: #000;
}
.image-selection a img {
  display: block;
}
.image-selection a .caption {
  display: block;
  text-align: center;
  background-color: #eee;
  border-radius: 0 0 6px 6px;
  text-transform: uppercase;
  font-size: 0.7em;
  color: #888;
}

.ui.accordion {
  padding-bottom: 3px;
}
.ui.accordion .content {
  padding: 20px !important;
}
.ui.accordion .title {
  padding: 0 !important;
}
