<template name="userHeader">
  <header class="ui text menu">
    <div class="ui container">
      <div class="item">
        <span class="">
          <img class="pc-logo" src="/img/logotype.png" alt="PaperCut Logo" />
        </span>
      </div>
      <div class="right menu">
        <div class="item" href="#" style="color: #333; text-shadow: 1px 1px 1px #ccc;">
          {{fullName names}}
        </div>
        <!-- <div class="">
          <span class="ui teal tag label">{{balance}}</span>
        </div> -->
      </div>
    </div>
  </header>
</template>
