<template name="jobDetails">
  <div class="ui job-details modal">
    <i class="close icon"></i>
    <div class="header">#{{jobNum}}: {{jobName}}</div>
    <div class="content" style="display: flex;">
      <div class="image ui basic segment" style="width: 40%; margin: 0; border: 3px dotted #fff; background-color: #ccc;">
        <span class="ui left corner label"><i class="cube icon"></i></span>
        <div class="preview ">
          <i class="cubes icon"></i>
        </div>
      </div>
      <div class="description" style="width: 60%;">

        <form action="" class="ui form segment" style="margin: 0; border-radius: 0; width: 100%">
          <span class="ui green ribbon label" style="margin-bottom: 10px;">Job Settings</span>

          <div class="fields">
            <div class="three wide field">
              <label>Color</label>
              <input type='text' id="colorpicker" />
            </div>

            <div class="thirteen wide field">
              <label>Required by</label>
              {{calendarDate pickupDate}}
            </div>
          </div>


          <!-- <div class="ui divider"></div> -->

          <span class="ui green ribbon label" style="margin-bottom: 10px;">Costs & Account Selection</span>
          <!-- <div class="ui header">Costs</div> -->

          <div class="fields">
            <div class="four wide field">
              <label>Estimated</label>
              <div class="ui big label">$5.20</div>
            </div>

            <div class="twelve wide field">

              <div class="account-charge field" style="margin-bottom: 10px;">
                <label>Charge to</label>
                <div class="ui dropdown labeled search icon green basic button">
                  <i class="fa fa-folder-o icon"></i>
                  <input type="hidden" name="account" value="personal">
                  <!-- <i class="dropdown icon"></i> -->
                  <div class="text"></div>
                  <div class="menu">
                    <div class="item" data-value="personal">Personal Account</div>
                    <div class="item" data-value="shared">Shared Account</div>
                    <div class="item" data-value="code">Account with PIN / Code</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </form>

      </div>
    </div>
    <div class="actions">
      <div class="ui red reject right labeled icon button">
        Reject
        <i class="remove icon"></i>
      </div>
      <div class="ui green approve right labeled icon button">
        Accept
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>

</template>
