<template name="jobModals">
  {{> jobDetails}} {{#with selectedJob}}
  <div class="ui reject-message modal">
    <div class="header">Job Details — #{{jobNum}}</div>
    <div class="content" style="display: flex;">
      <form action="" class="ui form segment" style="margin: 0; border-radius: 0; width: 100%">
        <div class="field">
          <label>Reason</label>
          <select name="" id="">
            <option value="">Materials not available</option>
            <option value="">Print job design not suitable for printer</option>
            <option value="">Print job too large for printer</option>
            <option value="">Requested material not suitable for this design</option>
            <option value="">Other</option>
          </select>
        </div>
        <div class="rejection-message field">
          <label>Rejection Message</label>
          <textarea>---Message here will be based on above selection.---</textarea>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui red ok reject-confirm right labeled icon button">
        Reject
        <i class="remove icon"></i>
      </div>
    </div>
  </div>
  {{/with}}
</template>
