<template name="jobModals">
  {{> jobDetails}} {{#with selectedJob}}
  <div class="ui reject-message modal">
    <div class="header">Job Details — #{{jobNum}}</div>
    <div class="content" style="display: flex;">
      <form action="" class="ui form segment" style="margin: 0; border-radius: 0; width: 100%">
        <div class="field">
          <label>Reason</label>
          <select name="" id="">
            <option value="">Materials not available</option>
            <option value="">Print job design not suitable for printer</option>
            <option value="">Print job too large for printer</option>
            <option value="">Requested material not suitable for this design</option>
            <option value="">Other</option>
          </select>
        </div>
        <div class="rejection-message field">
          <label>Rejection Message</label>
          <textarea>---Message here will be based on above selection.---</textarea>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui red ok reject-confirm right labeled icon button">
        Reject
        <i class="remove icon"></i>
      </div>
    </div>
  </div>
  {{/with}}

  <div class="ui job-detail-modal modal">
    <i class="close icon"></i>
    <div class="header">
      Profile Picture
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="/images/avatar/large/chris.jpg">
      </div>
      <div class="description">
        <div class="ui header">We've auto-chosen a profile image for you.</div>
        <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
        <p>Is it okay to use this photo?</p>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Nope
      </div>
      <div class="ui positive right labeled icon button">
        Yep, that's me
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>

</template>
